@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Protest+Revolution&family=Protest+Strike&display=swap');


.container-tech .card{
    width: 300px;
    height: 400px;
    border: 2px solid transparent;
    border-radius: 24px;
    position: relative;
     /* global 94%+ browsers support */
     background: linear-gradient(342deg, rgba(103, 58, 183, 1) 0%, rgba(76, 113, 175, 1) 50%, rgba(239, 255, 78, 0.26) 100%);
}

:root{
    --primary-black: #150D26;
    --secondary-black: #2A1A40;
    --mist-hover: #F2D027;
    --light-bg: #A30FA6;
    --black: #07040D
}

.container-tech{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 12vh);
    position: relative;
    background: linear-gradient(140deg, rgba(42, 26, 64, 1) 0%, rgba(70, 38, 127, 1) 30%, rgba(21, 13, 38, 1) 100%);
}

.container-tech .card img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

@media  screen and (max-width: 548px) {
    .container-tech{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}

.container-tech .card:hover{
    transform: scale(1.2);
    transition: all .4s ease-in;
}

.tech-title{
    background: linear-gradient(232deg, rgba(163, 15, 166, 1) 0%, rgba(113, 0, 212, 1) 50%, rgba(42, 26, 64, 1) 100%, rgba(21, 13, 38, 1) 100%);

    padding: 1rem 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.tech-title h1{
    background: linear-gradient(135deg, rgba(255, 255, 0, 1) 0%, rgba(255, 59, 0, 1) 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
    font-size: 2.3rem;
}

@media screen and (max-width: 548px){
    .container-tech .card:hover{
        transform: scale(0.9);
        transition: all .4s ease-in;
    }
}

.container-tech .card {
    text-align: center;
}

.container-tech .header, .container-tech .sub-header {
    margin-top: 1rem;
}

.container-tech .desc{
    margin-top: 0.5rem;
}




.container-tech .card blockquote .btn-reg{
    width: 100%;
    height: 100%;
    padding: 0.9rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border: none;
    margin-top: 0.2rem;
    font-size: 16px;
    cursor: pointer;
}

.img-p, .proj-e{
    background: linear-gradient(138deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
    color: #A30FA6;
    font-family: "Protest Revolution", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.img-p:hover, .proj-e{
    color: #F2D027;
    transition: all .4s ease-in;
}

.circ, .pape{
    background: linear-gradient(322deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: #F2D027;
    font-family: "Protest Revolution", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.circ:hover, .pape:hover{
    background: linear-gradient(190deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: #F2D027;
}

.non .card h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


@media screen and (min-width: 548px) {
    .tech-title{
        position: relative;
    
    }
    .container-tech {
        position: relative;
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .footer {
        position: relative;
    }

    .container-tech .card {
        margin-bottom: 4rem;
    }
}

.non .btn-reg{
    width: 80%;
}
